
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* docs.gitlab.com */

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #f9f9f9;
}

#header {
  padding: 75px 35px 200px 35px;
  background-color: #34373c;
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 36px;
  font-weight: 300;
  margin-top: 20px;
}

h1 a {
  color: #fff;
  text-decoration: none;
}

#header input {
  margin-top: 50px;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 0px;
  webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  font-size: 20px;
}

.st-ui-search-input, .st-default-search-input {
  width: 300px !important;
  height: 35px !important;
  padding: 15px 15px 15px 40px !important;
}

.st-ui-search-input, .st-default-search-input, span.st-ui-search-icon {
  background-size: 16px 16px !important;
  background-position: 15px 25px !important;
}

.topics {
  text-align: center;
  position: relative;
  top: -100px;
  margin: 0 35px;
}

.topics li {
  display: inline-block;
  background-color: #fff;
  border: 1px solid rgb(215, 215, 215);
  vertical-align: top;
  margin-bottom: 50px;
}

.circle {
	border-radius: 50%;
	width: 56px;
	height: 56px;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  line-height: 2.35;
  color: #fff;
  position: relative;
  top: -28px;
  left: 112px;
}

.topic-ee {
  margin: 0 20px;
}

.topic-ce .circle {
  background-color: rgb(1, 136, 101);
}

.topic-ee .circle {
  background-color: rgb(25, 112, 169);
}

.topic-omnibus .circle {
  background-color: rgb(107, 79, 187);
}

.topics li a, .topics li a:visited {
  text-decoration: none;
}

.topics li a h2, .topics li a:visited h2 {
  height: 70px;
  margin-bottom: 25px;
}

.topic-ce h2 {
  color: rgb(1, 120, 85);
}

.topic-ee h2 {
  color: rgb(9, 96, 153);
}

.topic-omnibus h2 {
  color: rgb(107, 79, 187);
}

.topics li a p, .topics li a:visited p {
  color: #553a3a;
  vertical-align: bottom;
}

.topics li .wrapper {
  padding: 0px 35px 40px;
  width: 280px;
  height: 240px;
}

.topics li h2 {
  text-align: center;
  font-size: 21px;
}
